{% extends 'index.html' %}
{% block title%}
  <title>Students detail</title>
{% endblock %}

{% block links %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'courses:list_view' %}">Main</a></li>
        <li><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'students:list_view' %}">Students</a><span class="sr-only">(current)</span></li>
        <li><a href="{% url 'results' %}">Quadratic</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            {% if student_obj %}
        {{ student_obj.name}} {{ student_obj.surname}}
        {% else %}
            <p>No students are available.</p>
        {% endif %}
        </h2>
    </div>
    <div class="panel-body">
        <div class='otherContent'></div>
    </div>
    <!-- Table -->
    <table class="table">
        {% if student_obj %}
        <tr>
            <td>date of birth</td>
            <td>{{ student_obj.date_of_birth}}</td></tr>
        <tr>
            <td>address</td>
            <td>{{ student_obj.address}}</td></tr>
        <tr>
            <td>email</td>
            <td>{{ student_obj.email}}</td></tr>
        <tr>
            <td>skype </td>
            <td>{{ student_obj.skype}}</td></tr>
        <tr>
            <td>phone </td>
            <td>{{ student_obj.phone}}</td></tr>
        <tr>
            <td>courses</td>
            <td>
            {% for crs in student_obj.courses.all %}
                <a href="{% url 'courses:detail' crs.id %}">{{ crs.name}}</a>
                <br>
                {% endfor %}
            </td>
            </tr>
        {% else %}
        <p>No students are available.</p>
        {% endif %}
    </table>
</div>
{% endblock %}