{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PySchool contacts">
    <meta name="author" content="Slava NIk">
    <title>Vasia Pupkin details page</title>
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
      <div class="header clearfix">
        <nav>
         <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'students:index' %}">Students</a>
            </li>
          </ul>
        </nav>
        <h2 class="text-muted project-title">Pupkin Vasia</h2>
      </div>
      <div class="main-content contacts">
        <div class="container student-details">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th colspan="2">Students card</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Surname</th>
                <td>Pupkin</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>Vasia</td>
              </tr>
              <tr>
                <th>Patronymic</th>
                <td>Markovich</td>
              </tr>
              <tr>
                <th>Birth Date</th>
                <td>10 Oct 1982</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>some address 234</td>
              </tr>
              <tr>
                <th>E-mail</th>
                <td>vasia_pupkin@gmail.com</td>
              </tr>
              <tr>
                <th>Skype</th>
                <td>vasia_pupkin</td>
              </tr>
              <tr>
                <th>Rating</th>
                <td>90</td>
              </tr>
              <tr>
                <th>Package</th>
                <td>Standart</td>
              </tr>
              <tr>
                <th>Average Grade</th>
                <td>85</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container course-details">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>Course</th>
                <th>Week</th>
                <th>ControlType</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th rowspan="5">Введение в Python</th>
                <td rowspan="3">1</td>
                <td>Tests</th>
                <td>99%</td>
              </tr>
              <tr>
                <td>Problem Task 1</td>
                <td>70%</td>
              </tr>
              <tr>
                <td>Problem task 2</td>
                <td>90%</td>
              </tr>
              <tr>
                <th rowspan="2">2</th>
                <td>Tests</td>
                <td>80%</td>
              </tr>
              <tr>
                <td>Problem task</td>
                <td>100%</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  <footer class="main-footer clearfix">
    <p class="text-center">&copy; The PySchool 2017, some rights reserved</p>
  </footer>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>