<!DOCTYPE html>
<html>
<head>
    <title>Student | {{ student.name }} {{ student.surname }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="bursa-navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Main</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                    <li><a href="{% url 'students:list_view' %}">Students</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>{{ student.name }} {{ student.surname }}</h1>
    <table class="table-hover">
        <tbody>
        <tr>
            <td>дата рождения</td>
            <td>{{ student.date_of_birth }}</td>
        </tr>
        <tr>
            <td>адрес</td>
            <td>{{ student.address }}</td>
        </tr>
        <tr>
            <td>почта</td>
            <td>{{ student.email }}</td>
        </tr>
        <tr>
            <td>логин skype</td>
            <td>{{ student.skype }}</td>
        </tr>
        <tr>
            <td>телефон</td>
            <td>{{ student.phone }}</td>
        </tr>
        <tr>
            <td>Курсы</td>
            <td>
                {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' course_id=course.id %}">{{ course.name }}</a></p>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>