{% extends 'base.html' %}


{% block title %}Students{% endblock %}


{% block active_students %}active{% endblock %}
    
    {% block content %}
      <h1>Списко студентов</h1>
      <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>фамилия имя</th>
              <th>адрес</th>
              <th>Skype</th>
              <th>Курсы</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <th scope="row">{{ student.id }}</th>
              <td><a href="{% url 'students:detail' pk=student.id %}">{{ student.surname }} {{ student.name }}</a></td>
              <td>{{ student.address }}</td>
              <td>{{ student.skype }}</td>
              <td>
                {% for course in student.courses.all %}
                  <p><a href="{% url 'courses:detail' pk=course.id %}">{{ course.name }}</a></p>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endblock content %}