{% extends "base.html" %}
{% load staticfiles %}

{% block title %}pyBursa - Студенты{% endblock title %}

{% block nav_class_student %}active{% endblock %}

{% block content %}
<div class="container">
    <h1>Список студентов</h1>
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>фамилия имя</th>
            <th>адрес</th>
            <th>Skype</th>
            <th>Курсы</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <th>{{ student.id }}</th>
            <td><a href="{% url 'students:detail' student_id=student.id %}">{{ student.surname }} {{ student.name }}</a></td>
            <td>{{ student.address }}</td>
            <td>{{ student.skype }}</td>
            <td>
                {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' course_id=course.id %}">{{ course.name }}</a></p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}