{% extends 'base.html' %}


{% block title %}Students{% endblock %}


{% block active_students %}active{% endblock %}
    
    {% block content %}
      <h1>Списко студентов</h1>
      <a href="{% url 'students:add' %}">Добавить нового студента</a>
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>фамилия имя</th>
            <th>адрес</th>
            <th>Skype</th>
            <th>Курсы</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for student in student_list %}
          <tr>
            <th scope="row">{{ student.id }}</th>
            <td><a href="{% url 'students:detail' pk=student.id %}">{{ student.surname }} {{ student.name }}</a></td>
            <td>{{ student.address }}</td>
            <td>{{ student.skype }}</td>
            <td>
              {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' pk=course.id %}">{{ course.name }}</a></p>
              {% endfor %}
            </td>
            <td><a href="{% url 'students:edit' pk=student.id %}">Изменить</a></td>
            <td><a href="{% url 'students:remove' pk=student.id %}">Удалить</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="{% if course_id %}?course_id={{ course_id }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"><< previous</a>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <span>{{i}}</span>
            {% else %}
              <a href="{% if course_id %}?course_id={{ course_id }}&{% else %}?{% endif %}page={{i}}">{{i}}</a>
            {% endif %}
          {% endfor %}
          {#<span class="current">#}
            {#Page {{ page_obj.number }} of {{ paginator.num_pages }}.{{ paginator.page }}#}
          {#</span>#}

          {% if page_obj.has_next %}
            <a href="{% if course_id %}?course_id={{ course_id }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">next >></a>
          {% endif %}
        </span>
      </div>
    {% endblock content %}