.matrix-theme {
    background: url("../images/matrix-theme-8.jpg");
    min-height: 550px;
}

.butsaka-address-block dt {
    width: auto;
    background-size: contain;
    padding-left: 30px;
}

.butsaka-address-block dd {
    margin-left: 75px
}

.bursaka-footer {
    height: 200px;
    background-color: gray;
}

.contact-image {
    height: 150px;
    display: block;
}

.jumbotron.matrix-theme {
    margin-bottom: 0;
}

body {
    font-family: "Bitstream Vera Sans Mono";
}

.bursaka-nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    height: 50px;
}

.bursaka-content {
    padding-top: 50px;
}

#programModal .modal-dialog {
    width: 70%;
}

.address-skype {
    background: url("../images/skype-icon.png") no-repeat;
}

.address-name {
    background: url("../images/name-icon.png") no-repeat;
}

.address-email {
    background: url("../images/email-icon.png") no-repeat;
}

.address-phone {
    background: url("../images/phone-icon.png") no-repeat;
}

.item-director {
    color: darkgreen;
}

.item-manager {
    color: darkmagenta;
}

.item-founder {
    color: darkslategray;
}

.butsaka-address-block dd,
.butsaka-address-block dt {
    line-height: 170%;
}

.program-title,
.description-title {
    font-weight: lighter;
    text-decoration: underline;
}

.matrix-theme .bursaka-title-lg {
    font-weight: bold;
    color: darkgreen;
}

.matrix-theme .container.contacts {
    width: 90%;
}

.carousel-inner .item img {
    height: 150px;
}

/* ------ crousel vertical -----------*/
.carousel-inner.vertical {
    height: 100%;
    font-family: inherit;
    font-size: inherit;
}

.carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner.vertical > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

    .carousel-inner.vertical > .item.next,
    .carousel-inner.vertical > .item.active.right {
        top: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .carousel-inner.vertical > .item.prev,
    .carousel-inner.vertical > .item.active.left {
        top: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .carousel-inner.vertical > .item.next.left,
    .carousel-inner.vertical > .item.prev.right,
    .carousel-inner.vertical > .item.active {
        top: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner.vertical > .active {
    top: 0;
}

.carousel-inner.vertical .carousel-caption {
    position: relative;
    text-align: left;
    left: 0;
    padding-bottom: 0;
}

.carousel-inner.vertical .item {
    background-color: white;
    padding: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.carousel-inner.vertical .item p {
    font-family: inherit;
    text-shadow: none;
}

.carousel-inner.vertical .item h3 {
    color: darkgreen;
}

/* ----------------------------------- */

.description-img,
.program-img {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 320px;
}

.description-content,
.program-content {
    padding-bottom: 50px;
}

