{% extends 'base.html' %}


{% block active_contact_class %}{% endblock %}


{% block title%}404{% endblock %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class='cust_div'>
            <h2 class='titleH'>404</h2>
            <div class='content'>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Sorry, page is not found</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}