{% extends 'base.html' %}

{% block title %} Contacts {% endblock %}

{% block content %}
<!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 plain">
      <h2>Director</h2>
        <ul class="my-list">
            <li class="name"><b>Name:</b> Vitaliy Bondarenko</li>
            <li class="skype"><b>Skype:</b> Vitaliy_Bondarenko</li>
            <li class="email"><b>Email:</b> bondar@mail.com</li>
            <li class="phone"><b>Phone:</b> +14567283223</li>
        </ul>
      <p class="inner-text">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
    </div>
    <div class="col-md-4 plain">
      <h2>Manager</h2>
        <ul class="my-list">
            <li class="name"><b>Name:</b> Mariya Petrova</li>
            <li class="skype"><b>Skype:</b> mary_mary</li>
            <li class="email"><b>Email:</b> mary@mail.com</li>
            <li class="phone"><b>Phone:</b> +14574748484</li>
        </ul>
      <p class="inner-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   </div>
    <div class="col-md-4 plain">
      <h2>Founder</h2>
       <ul class="my-list">
            <li class="name"><b>Name:</b> Viktor Abramov</li>
            <li class="skype"><b>Skype:</b> abram_v</li>
            <li class="email"><b>Email:</b> abramov_v@mail.com</li>
            <li class="phone"><b>Phone:</b> +19329848432</li>
        </ul>
      <p class="inner-text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p class="company">&copy; 2016 Company, Inc.</p>
  </footer>
{% endblock %}