{% extends 'base.html' %}


{% block active_contact_class %}class="active"{% endblock %}


{% block title%}Contact{% endblock %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class='cust_div'>
            <h2 class='titleH'>Contacts</h2>
            <div class='content'>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Director</h2>
                        <div class=text>Name: Name Surname</div>
                        <div class=textlink>Skype: skype</div>
                        <div class=textlink>Email: email@em.com</div>
                        <div class=text>Phone: 029313</div>
                    </li>
                    <li class="list-group-item">
                        <h2>Manager</h2>
                        <div class=text>Name: Name Surname</div>
                        <div class=textlink>Skype: skype</div>
                        <div class=textlink>Email: email@em.com</div>
                        <div class=text>Phone: 029313</div>
                    </li>
                    <li class="list-group-item">
                        <h2>Founder</h2>
                        <div class=text>Name: Name Surname</div>
                        <div class=textlink>Skype: skype</div>
                        <div class=textlink>Email: email@em.com</div>
                        <div class=text>Phone: 029313</div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}