{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PySchool contacts">
    <meta name="author" content="Slava NIk">
    <title>The PySchool - contacts page</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'contact' %}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'student_list' %}">Students</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted project-title">The PySchool</h3>
      </div>
      <div class="main-content contacts">

          <div class="container">
            <h3 class="jumbotron-heading">Contacts</h3>
            <p class="lead text-muted">
                Phasellus sollicitudin porta justo, sit amet mollis urna vehicula nec.
                Ut dictum ligula eu tellus tempor, eu tempor sapien convallis.
                Mauris ac leo mollis, aliquet enim consequat, suscipit dolor. Vivamus quis tristique ante.
                Nunc sed mollis nunc, in vestibulum justo. Vivamus mattis augue ac iaculis vestibulum.
                In nec placerat sapien, in accumsan nibh. Sed condimentum velit sit amet metus pharetra viverra.
            </p>
          </div>

          <div class="container">
            <div class="row album">
              <div class="card">
                  <h4 class="card-title director">Director</h4>
                  <img src="{% static 'images/director.png' %}" alt="director" class="card-image">
                  <p class="card-text name">Name: Oozma Kappa</p>
                  <p class="card-text skype">Skype: gitler_kaput</p>
                  <p class="card-text email">Email: gitler_kaput@pyschool.com</p>
                  <p class="card-text phone">Phone: +38 057 123 66 66</p>
              </div>
              <div class="card">
                  <h4 class="card-title manager">Manager</h4>
                  <img src="{% static 'images/manager.png' %}" alt="manager" class="card-image">
                  <p class="card-text name">Name: Terry Perry</p>
                  <p class="card-text skype">Skype: gopnik_kharkiv</p>
                  <p class="card-text email">Email: gopnik_kharkiv@pythothrone.org</p>
                  <p class="card-text phone">Phone: +3812 54 54 222</p>

              </div>
              <div class="card">
                  <h4 class="card-title founder">Founder</h4>
                  <img src="{% static 'images/founder.png' %}" alt="founder" class="card-image">
                  <p class="card-text name">Name: Don Carlton</p>
                  <p class="card-text skype">Skype: py_godzilla</p>
                  <p class="card-text email">Email: py_godzilla@pythothrone.org</p>
                  <p class="card-text phone">Phone: +38 057 12 666 30</p>
              </div>
          </div>
        </div>
      </div>
      <footer class="main-footer clearfix">
        <p class="text-center">&copy; The PySchool 2017, some rights reserved</p>
      </footer>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>