{% extends "base.html" %}
{% load staticfiles %}

{% block title %}PyBursa - Главная{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center bursa-title">Description</h1>
            <h4 class="text-left bursa-contents">Program</h4>
            <p class="bursa-description">Django Week 1. HTML, CSS, Bootstrap</p>
        </div>
	<div class="row">
            {% include "include/courses_include.html" with courses=courses %}
        </div>
    </div>
{% endblock content %}
