<!DOCTYPE html>
<html lang="en">

<head>
    <title>DjangoBursa Course</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a super-puper DjangoBursa Course">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Course</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contacts</a></li>
                    <li><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h3 class="course-title">Description</h3>
            <p class="lead course-description">Nulla dolorem iure nobis est adipisci molestias vitae. Est eius assumenda nisi dolore dolore. Quis quae ab sunt
                impedit qui ut. Modi adipisci minima qui ipsam. Possimus soluta iure et. Quaerat velit est et aut consequuntur
                veritatis voluptate corrupti. Quo id quia quas quia animi officia minima cupiditate suscipit. Facere et modi.
                Deleniti cupiditate hic odio. Ut laudantium suscipit inventore. Est necessitatibus laudantium. Praesentium
                qui natus sunt. Velit quod neque voluptatem.</p>
            <h3 class="course-subtitle">Program</h3>
            <p class="lead course-description">Consequatur labore cupiditate voluptate tenetur deleniti eum cupiditate expedita. Voluptatem earum dolores qui
                dolorem cupiditate. Sint libero ab repellat laboriosam. Repudiandae nostrum illo occaecati laborum tempore
                doloremque inventore distinctio odit. Magni repudiandae aliquam aspernatur. Et veritatis itaque est temporibus
                omnis dicta. Aut non unde ab odio accusamus maiores est hic. Aliquid quos atque consectetur temporibus autem
                repellat. Nam eligendi ratione. Et accusamus est impedit quaerat. Natus animi temporibus.</p>
        </div>
    </div>
</body>

</html>