<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PySchool contacts">
    <meta name="author" content="Slava NIk">
    <title>The PySchool - students list</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
  	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="student_list.html">Students</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main-content students-list">
        <div class="container">
          <h3 class="text-muted project-title">The PySchool Advanced Bursa -  Students List</h3>
          <p class="lead text-muted">
            Phasellus sollicitudin porta justo, sit amet mollis urna vehicula nec.
            Ut dictum ligula eu tellus tempor, eu tempor sapien convallis.
            Mauris ac leo mollis, aliquet enim consequat, suscipit dolor. Vivamus quis tristique ante.
            Nunc sed mollis nunc, in vestibulum justo. Vivamus mattis augue ac iaculis vestibulum.
            In nec placerat sapien, in accumsan nibh. Sed condimentum velit sit amet metus pharetra viverra.
          </p>
        </div>

        <div class="container">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>No</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Address</th>
                <th>Skype</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="student_detail.html">1</a></th>
                <td>Vasia</td>
                <td>Pupkin</td>
                <td>some address 234</td>
                <td>vasia_pupkin</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Petia</td>
                <td>Ivanov</td>
                <td>other address 84230</td>
                <td>petia_ivanov</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>sah 43 ffl 44</td>
                <td>mark_otto</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Konan</td>
                <td>Varvar</td>
                <td>forest near sea</td>
                <td>konan_varvar</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Halk</td>
                <td>Hogan</td>
                <td>somewhere in the usa</td>
                <td>halk_hogan</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Gannibal</td>
                <td>Lecter</td>
                <td>united kigndom</td>
                <td>gannibal_lecter</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Dexter</td>
                <td>Morgan</td>
                <td>usa Miami</td>
                <td>dexter_morgan</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="main-footer clearfix">
      <p class="text-center">&copy; The PySchool 2017, some rights reserved</p>
    </footer>
  </div>
  <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  </body>
</html>