{% extends 'index.html' %}
{% block links %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Main</a></li>
        <li><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'student_list' %}">Students</a><span class="sr-only">(current)</span></li>
        <li><a href="{% url 'results' %}">Quadratic</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>PyBursa students</h2></div>
    <div class="panel-body">
        <div class='otherContent'>list of students</div>
    </div>

    <!-- Table -->
    <table class="table">
        <tr class='cust_div'>
            <th>No</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Address</th>
            <th>Skype</th>
        </tr>
        <tr>
            <td><a href="{% url 'student_detail' %}">1</a></td>
            <td>Surname</td>
            <td>Name</td>
            <td>Ukraine, Kharkov</td>
            <td>Skype</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Surname</td>
            <td>Name</td>
            <td>Ukraine, Kharkov</td>
            <td>Skype</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Surname</td>
            <td>Name</td>
            <td>Ukraine, Kharkov</td>
            <td>Skype</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Surname</td>
            <td>Name</td>
            <td>Ukraine, Kharkov</td>
            <td>Skype</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Surname</td>
            <td>Name</td>
            <td>Ukraine, Kharkov</td>
            <td>Skype</td>
        </tr>
    </table>
</div>
{% endblock %}