{% extends 'index.html' %}
{% block links %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Main</a></li>
        <li><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'student_list' %}">Students</a><span class="sr-only">(current)</span></li>
        <li><a href="{% url 'results' %}">Quadratic</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
<h2 class='titleH'>Surname Name</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class='content'>Student's card</div>
    </div>
    <div class="panel-body">

    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td>Surname</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>Patronymic</td>
            <td>Patronymic</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>Birth Date</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Address</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>E-mail</td>
        </tr>
        <tr>
            <td>Skype</td>
            <td>Skype</td>
        </tr>
    </table>
</div>

<!-- Table -->
<table class="table">
    <tr>
        <th>Course</th>
        <th>Week</th>
        <th>Control Type</th>
        <th>Average Grade</th>
        <th>Rating</th>
    </tr>
    <tr>
        <td>Python</td>
        <td>Week</td>
        <td>Tests</td>
        <td>99%</td>
        <td>1</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Problem Task 1</td>
        <td>99%</td>
        <td>1</td>
    </tr>
    <tr>
        <td></td>
        <td>Week2</td>
        <td>Tests</td>
        <td>100%</td>
        <td>1</td>
    </tr>
</table>

{% endblock %}