{% extends 'base.html' %}

{% block title %} Students list {% endblock %}

{% block content %}
<h2>Студенты курса PyBursa</h2>
<p>Ниже представлен список студентов курса июль-август 2017г</p>

<table class="table">
  <thead>
    <tr class="left">
      <th>No</th>
      <th>Surname</th>
      <th>Name</th>
      <th>Address</th>
      <th>Skype</th>
    </tr>
  </thead>
  <tbody>
    <tr class="left">
      <th scope="row"><a href="{% url 'student_detail' %}">1</a></th>
      <td>Galkin</td>
      <td>Nikolay</td>
      <td>Kharkov, Nikopolskaya str. 54</td>
      <td>nikolay.galkin</td>
    </tr>
    <tr class="left">
      <th scope="row">2</th>
      <td>Thornton</td>
      <td>Jacob</td>
      <td>Bandery str., 666</td>
      <td>fat_jay</td>
    </tr>
    <tr class="left">
      <th scope="row">3</th>
      <td>Bird</td>
      <td>Larry</td>
      <td>Lenina ave. 15</td>
      <td>bird_like_larry</td>
    </tr>
    <tr class="left">
      <th scope="row">4</th>
      <td>Smith</td>
      <td>John</td>
      <td>Times sq. 445</td>
      <td>just_a_jonny</td>
    </tr>
    <tr class="left">
      <th scope="row">5</th>
      <td>Owen</td>
      <td>Michel</td>
      <td>44 ave. 24</td>
      <td>mikye_my</td>
    </tr>
  </tbody>
</table>
{% endblock %}