{% extends 'base.html' %}

{% block title %} Nikolay Galkin {% endblock %}

{% block content %}
<div class="col-md-6">
    <h2>Nikolay Galkin</h2>
    <table class="table green">
      <tbody>
        <tr>
          <td>Surname</td>
          <td>Galkin</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>Nikolay</td>
        </tr>
        <tr>
          <td>Patronymic</td>
          <td>Igorevich</td>
        </tr>
        <tr>
          <td>Birth Date</td>
          <td>02/11/1997</td>
        </tr>
        <tr>
          <td><b>Rating</b></td>
          <td><b>18</b></td>
        </tr>
        <tr>
          <td><b>Average Grade</b></td>
          <td><b>16.88</b></td>
        </tr>
        <tr>
          <td>Package</td>
          <td>Standard</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>Kharkov, Nikopolskaya str. 54</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>nikey_galkin@mail.com</td>
        </tr>
        <tr>
          <td>Skype</td>
          <td>nikolay.galkin</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead class="active">
        <tr>
          <th>Course</th>
          <th>Week</th>
          <th>Control Type</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody class="no-borders">
        <tr>
          <td>PY001 Introduction in Python</td>
          <td>Week 1</td>
          <td>Tests</td>
          <td>100%</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Problem Task 1</td>
          <td>89%</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Problem Task 2</td>
          <td>96%</td>
        </tr>
        <tr>
          <td></td>
          <td>Week 2</td>
          <td>Tests</td>
          <td>100%</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Problem Task 1</td>
          <td>95%</td>
        </tr>
      </tbody>
    </table>

</div>
<div class="col-md-5">
    {% load static %}
    <img src="{% static 'images/student.png' %}" alt="">
</div>
{% endblock %}