<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persianove Olena</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-text" href="index.html">Main</a>
    <a class="navbar-text" href="contact.html">Contacts</a>
    <a class="navbar-text" href="student_list.html">Students</a>
</nav>

<div class="container">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Persianove Olena</h3>
            <img class="img-fluid" src="../static/images/ava.png" alt="Avatar"> <br />
            <button type="button" class="btn btn-info">О Себе</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-stripped table-hover">
                <tbody>
                <tr>
                    <td>Surname</td>
                    <td>Persianove</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Olena</td>
                </tr>
                <tr>
                    <td>Patronymic</td>
                    <td>Pavlovna</td>
                </tr>
                <tr>
                    <td>Birth Date</td>
                    <td>01.02.1992</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>olena.pers@gmail.com</td>
                </tr>
                <tr>
                    <td>Skype</td>
                    <td>olena.pers</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Kharkiv</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Problem Task</td>
                    <td>Homework 2</td>
                </tr>
                <tr>
                    <td>Average Grade</td>
                    <td>97</td>
                </tr>
                </tbody>
            </table></div>
            <div class="col-md-6">
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <td>Course</td>
                        <td>Week</td>
                        <td>Control Type</td>
                        <td>Grade</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Введение в Python</td>
                        <td>Week 1</td>
                        <td>Tests</td>
                        <td>99%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Problem task 1</td>
                        <td>99%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Problem task 2</td>
                        <td>97%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Week 1</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Problem task 1</td>
                        <td>96%</td>
                    </tr>
                    </tbody>
                </table>
            </div>

    </div>
</div>

</div>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>