{% extends 'base.html' %}

{% block title %} Course details {% endblock %}

{% block students %}
<li class="{% if request.resolver_match.url_name == 'students:list_view' %}active{% endif %}">
    <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">Students</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="description">{{ course.name }}</h1>
    <p class="lead">
        {{ course.description }}
    </p>
</div>

<h3>Преподаватели</h3>
<div class = "panel panel-default">
   <div class = "panel-heading">
      Coach
   </div>
   <div class = "panel-body">
       <a href="{% url 'coaches:detail' course.coach.id %}">
           {{ course.coach.get_full_name }}
       </a>
       <br>
        {{ course.coach.description }}
   </div>
</div>
<div class = "panel panel-default">
   <div class = "panel-heading">
      Assistant
   </div>
   <div class = "panel-body">
      <a href="{% url 'coaches:detail' course.assistant.id %}">
          {{ course.assistant.get_full_name }}
      </a>
      </a>
       <br>
        {{ course.assistant.description }}
   </div>
</div>

{% if lessons.count %}
<h3>План курса:</h3>
    <table class="table">
        <thead>
            <tr class="left">
                <th>No</th>
                <th>Theme</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr class="left">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ lesson.subject }}</td>
                <td>{{ lesson.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}