{% extends 'base.html' %}

{% block title%}Course details{% endblock %}


{% block active_main_class %}class="active"{% endblock %}


{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        {% if course_obj %}
            <h3>{{ course_obj.name }}</h3>
        {% endif %}
    </div>
    <div class="panel-body">
        <div class='otherContent'>
        {% if course_obj %}
            <h4>{{ course_obj.description|truncatechars:32 }}</h4>
        {% endif %}
        </div>

    </div>

    <h3>Teachers</h3>

    {% include 'include/instructor_include.html' with block_title='Teacher' instructor=course_obj.coach%}
    {% include 'include/instructor_include.html' with block_title='Assistant' instructor=course_obj.assistant%}

    <h2>Lessons plan</h2>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{% url 'courses:add_lesson' course_obj.id %}">Добавить занятие</a></li>
    </ul>
    <!-- Table -->
    <table class="table">
        <tr>
            <th>#</th>
            <th>Theme</th>
            <th>Description</th>
        </tr>
        {% if lessons_list %}
            {% for lesson in lessons_list %}
            <tr>
                <td>{{ lesson.order }}</td>
                <td>{{ lesson.subject }}</td>
                <td>{{ lesson.description }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <p>No lessons are available.</p>
        {% endif %}
    </table>
</div>
{% endblock %}