{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" aria-label="Close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-sm-12">
        <h2>{{ title }}</h2>
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-default" value="Изменить">
            </form>
        </div>

    </div>
</div>
{% endblock content %}