{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<title>Coach Details | {{ coach.first_name }} {{ coach.last_name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'index' %}">Main</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
		  </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'students:list_view' %}">Students</a>
          </li>
        </ul>
	  </div>
	</nav>
    <div class="container">
        <h1>{{ coach.first_name }} {{ coach.last_name }}</h1>
        <table>
            <tbody>
                <tr>
                    <td>дата рождения</td>
                    <td>{{ coach.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>адрес</td>
                    <td>{{ coach.address }}</td>
                </tr>
                <tr>
                    <td>почта</td>
                    <td>{{ coach.email }}</td>
                </tr>
                <tr>
                    <td>логин skype</td>
                    <td>{{ coach.skype }}</td>
                </tr>
                <tr>
                    <td>телефон</td>
                    <td>{{ coach.phone }}</td>
                </tr>
                {% if coach_courses %}
                <tr>
                    <td>курсы учитель</td>
                    <td>
                        {% for course in coach_courses %}
                        <p>
                            <a href="{% url 'courses:detail' pk=course.id %}">{{ course.name }}</a> 
                            студенты курса 
                            <a href="{% url 'students:list_view' %}?course_id={{ course.id }}" >
                                <span class="glyphicon glyphicon-new-window">тыц</span>
                            </a>
                        </p>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if assis_courses %}
                <tr>
                    <td>курсы ассистент</td>
                    <td>
                        {% for course in assis_courses %}
                        <p>
                            <a href="{% url 'courses:detail' pk=course.id %}">{{ course.name }}</a> 
                            студенты курса 
                            <a href="{% url 'students:list_view' %}?course_id={{ course.id }}" >
                                <span class="glyphicon glyphicon-new-window">тыц</span>
                            </a>
                        </p>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>
