{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>DjangoBursa Course Contacts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a super-puper DjangoBursa Course">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Course</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Main</a></li>
                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                    <li><a href="{% url 'student_list' %}">Students</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default contact">
                    <div class="thumbnail contact-image">
                        <img class="contact-image__element" src="http://lorempixel.com/400/200/people/1" alt="01">
                    </div>
                    <div class="panel-body contact-body">
                        <h3 class="contact-body__title">Director</h3>
                    </div>
                    <ul class="list-group contact-contacts">
                        <li class="list-group-item contact-name">Name: Daisha Nitzsche</li>
                        <li class="list-group-item contact-skype">Skype: Daisha.Nitzsche65</li>
                        <li class="list-group-item contact-email">Email: Daisha92@gmail.com</li>
                        <li class="list-group-item contact-phone">Phone: (177) 081-2915</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/400/200/people/2" alt="01">
                    </div>
                    <div class="panel-body">
                        <h3>Manager</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Name: Aniyah Haley</li>
                        <li class="list-group-item">Skype: Aniyah.Haley</li>
                        <li class="list-group-item">Email: Aniyah_Haley0@yahoo.com</li>
                        <li class="list-group-item">Phone: (896) 924-2488</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/400/200/people/3" alt="01">
                    </div>
                    <div class="panel-body">
                        <h3>Founder</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Name: Bo Huels</li>
                        <li class="list-group-item">Skype: Bo81</li>
                        <li class="list-group-item">Email: Bo_Huels@gmail.com</li>
                        <li class="list-group-item">Phone: 757-022-8365</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>