{% extends "base.html" %}
{% block title %}The PySchool - Main Page{% endblock title %}
{% block description %}The PySchool - Main Page{% endblock description %}
{% block nav_index%}active{% endblock nav_index%}
{% block main_content%}
  <h1 class="display-3 course-name">Python base and Django - Advanced Bursa </h1>
  <div class="lead text-muted">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis fringilla semper.
      Sed est urna, facilisis ac gravida a, convallis nec elit. Integer faucibus egestas suscipit.
      Cras vitae purus efficitur, iaculis nisl sit amet, interdum quam. Etiam venenatis venenatis mi in bibendum.
      Phasellus nisl elit, pharetra sit amet dictum vel, semper nec risus. Nunc sed congue nisi,
      sit amet aliquet velit. Nam imperdiet nisl nec sem congue congue. Phasellus nisi nunc, cursus ut accumsan ut,
      lacinia ut erat. Phasellus velit mi, facilisis ut sagittis sed, volutpat id nulla. Nunc eget odio
      eu odio interdum interdum et vel nunc. In gravida sem mi, at pharetra arcu ullamcorper a. Vestibulum
      dapibus vehicula dictum. Sed lacinia lacinia sapien, ut vehicula tellus iaculis eu.
    </p>
  </div>
  <div class="row about-course">
    <div class="col-lg-12">
      <article class="main-content">
        <h2>Список наших курсов</h2>
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Курс</th>
              <th>Описание</th>
            </tr>
          {% for course in courses %}
            <tr>
              <td><a href="{% url 'courses:detail' course.id %}">{{course.name}}</a></td>
              <td>{{course.description}}</td>
            </tr>
          {% endfor %}
          </thead>
        </table>
      </article>
    </div>
  </div>
{% endblock main_content %}