{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The PySchool main page">
    <meta name="author" content="Slava NIk">
    <title>The PySchool - main page</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'students:index' %}">Students</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted project-title">The PySchool</h3>
      </div>
      <h1 class="display-3 course-name">Python base and Django - Advanced Bursa </h1>
      <h3 class="display-3 course-description">Description</h3>
      <div class="lead text-muted">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis fringilla semper.
              Sed est urna, facilisis ac gravida a, convallis nec elit. Integer faucibus egestas suscipit.
              Cras vitae purus efficitur, iaculis nisl sit amet, interdum quam. Etiam venenatis venenatis mi in bibendum.
              Phasellus nisl elit, pharetra sit amet dictum vel, semper nec risus. Nunc sed congue nisi,
              sit amet aliquet velit. Nam imperdiet nisl nec sem congue congue. Phasellus nisi nunc, cursus ut accumsan ut,
              lacinia ut erat. Phasellus velit mi, facilisis ut sagittis sed, volutpat id nulla. Nunc eget odio
              eu odio interdum interdum et vel nunc. In gravida sem mi, at pharetra arcu ullamcorper a. Vestibulum
              dapibus vehicula dictum. Sed lacinia lacinia sapien, ut vehicula tellus iaculis eu.
          </p>
         <p>
            Vivamus vestibulum commodo arcu nec laoreet. Etiam et lacinia dolor. Proin diam tellus,
             rhoncus sit amet metus in, vulputate scelerisque tortor. Sed tempor, elit et volutpat imperdiet,
             ante nisl vulputate lectus, et imperdiet massa diam sit amet quam. Donec eu sodales sapien. Donec
             nunc diam, sagittis a lectus eget, iaculis luctus nibh. Ut magna arcu, euismod feugiat sodales sodales,
             hendrerit et mi. Maecenas condimentum nunc id imperdiet lobortis. Aenean erat metus, bibendum id
             finibus ut, convallis ac massa. Ut tortor ipsum, sodales at turpis in, dapibus volutpat est. In non
             neque sem. Duis mattis sapien ac massa tincidunt, at congue sapien placerat. Vestibulum maximus
             volutpat nulla quis interdum. Ut erat dui, fermentum quis augue a, interdum fermentum metus.
         </p>
      </div>
      <div class="row about-course">
        <div class="col-lg-12">
          <article class="main-content">
            <h2>Список наших курсов</h2>
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Курс</th>
                  <th>Описание</th>
                </tr>
                {% for course in courses %}
                   <tr>
                       <td><a href="{% url 'courses:detail' course.id %}">{{course.name}}</a></td>
                       <td>{{course.description}}</td>
                   </tr>
                {% endfor %}
            </thead>
            </table>
        </article>
      </div>
    </div>

    <footer class="text-muted">
      <p class="text-center">&copy; The PySchool 2017, some rights reserved</p>
    </footer>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  </body>